<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="../Logs/internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logdir" value="../Logs" />
  <targets>
    <!-- the targets to write to -->
    <!-- Log viewer -->
    <target name="LogViewer" xsi:type="NLogViewer" address="udp://127.0.0.1:3333"/>
    
    <target xsi:type="Console" name="console">
        <layout xsi:type="JsonLayout">
            <attribute name="time" layout="${longdate}" />
            <attribute name="event-id" layout="${event-properties:item=EventId_Id}"/>
            <attribute name="level" layout="${level:upperCase=true}"/>
            <attribute name="logger" layout="${logger}"/>
            <attribute name="message" layout="${message}" />
            <attribute name="exception" layout="${exception:format=tostring}"/>
            <attribute name="url" layout="${aspnet-request-url}"/>
            <attribute name="action" layout="${aspnet-request-url}"/>
            <attribute name="tag" layout="${environment:LOG_TAG}"/>
        </layout>
    </target>

    <!--non json console log-->
    <!--<target xsi:type="Console"
            name="console"
            layout="${longdate} [${event-properties:item=EventId_Id}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring} [request-url: ${aspnet-request-url}] [action: ${aspnet-mvc-action}]"
    />-->

    <!-- write logs to file  -->
    <!--<target xsi:type="File"
            name="allFile"
            fileName="${var:logdir}/nlog-all.log"
            archiveFileName="${var:logdir}/nlog-all.{#}.log"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            archiveEvery="Day"
            archiveAboveSize="314572800">
        <layout xsi:type="JsonLayout">
            <attribute name="time" layout="${longdate}" />
            <attribute name="event-id" layout="${event-properties:item=EventId_Id}"/>
            <attribute name="level" layout="${level:upperCase=true}"/>
            <attribute name="logger" layout="${logger}"/>
            <attribute name="message" layout="${message}" />
            <attribute name="exception" layout="${exception:format=tostring}"/>
            <attribute name="url" layout="${aspnet-request-url}"/>
            <attribute name="action" layout="${aspnet-request-url}"/>
            <attribute name="tag" layout="${environment:LOG_TAG}"/>
        </layout>
    </target>-->

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
   <!-- <target xsi:type="File"
            name="ownFile"
            fileName="${var:logdir}/nlog-own.log"
            archiveFileName="${var:logdir}/nlog-own.{#}.log"
            archiveNumbering="Rolling"
            maxArchiveFiles="1"
            archiveEvery="Day"
            archiveAboveSize="314572800"
            layout="${longdate} [${event-properties:item=EventId_Id}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring} [request-url: ${aspnet-request-url}] [action: ${aspnet-mvc-action}]"
    />-->

    <!--<target xsi:type="File"
            name="errorFile"
            fileName="${var:logdir}/nlog-error.log"
            archiveFileName="${var:logdir}/nlog-error.{#}.log"
            archiveNumbering="Rolling"
            maxArchiveFiles="1"
            archiveEvery="Day"
            archiveAboveSize="314572800"
            layout="${longdate} [${event-properties:item=EventId_Id}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring} [url: ${aspnet-request-url}] [action: ${aspnet-mvc-action}]"
    />-->

    <!--<target xsi:type="File"
            name="infoFile"
            fileName="${var:logdir}/nlog-info.log"
            archiveFileName="${var:logdir}/nlog-info.{#}.log"
            archiveNumbering="Rolling"
            maxArchiveFiles="1"
            archiveEvery="Day"
            archiveAboveSize="314572800"
            layout="${longdate} [${event-properties:item=EventId_Id}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring} [url: ${aspnet-request-url}] [action: ${aspnet-mvc-action}]"
    />-->

    <target xsi:type="Null" name="blackhole" />

  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <!-- For Dev -->
    <!--<logger name="*" minlevels="Trace" writeTo="LogViewer"   />-->
    <logger name="*" minlevels="Trace" writeTo="console"   />
    <!--All logs, including from Microsoft-->
    <!--<logger name="Microsoft.EntityFrameworkCore.*" levels="Trace,Debug,Info" writeTo="blackhole" final="true" />-->
    <!--<logger name="*" minlevel="Trace" writeTo="allFile" />-->
    <!-- <logger name="Microsoft.*" maxLevel="Error" final="true" /> -->
    <!-- <logger name="*" minlevel="Trace" writeTo="ownFile" /> -->
    <!--Info And Warn logs-->
    <!-- <logger name="*" levels="Info,Warn" writeTo="infoFile" /> -->
    <!--Critical logs-->
    <!-- <logger name="*" levels="Error,Fatal" writeTo="errorFile" /> -->
  </rules>
</nlog> 